{% extends 'base.html' %}

{% block content %}

            <h1 class="display-4">Reports</h1>
            <p class ="lead font-italic">Tasks for the day</p>
            <a href="{% url 'today_task' %}"><button type="submit" class="btn btn-secondary">Today's Report</button></a>
            <hr class="my-4">
            <br><br>


<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr style="background-color:rgb(245, 245, 245);">
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Date created</td>
            <td>
                <a href="{% url 'task_insert' %}" class="btn btn-outline-success">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for Task in task_list %}
        <tr>
            <td >{{Task.taskId}}</td>
            <td>{{Task.name}}</td>
            <td>{{Task.description}}</td>
            <td>{{Task.date}}</td>
            <td>
                <a href="{% url 'task_update' Task.pk  %}" class="btn text-secondary px-0" style="margin-right: 20px;">
                    <i class="fa fa-edit fa-lg"></i>
                </a>
                <a href="{% url 'task_delete' Task.pk  %}" class="btn text-secondary px-0 d-inline">
                    <i class="fa fa-trash-o fa-lg text-danger float-right"></i>
                </a>



            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}